body{
    background: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    margin: 30px auto auto auto;
    font-family: 'Wendy One', sans-serif;
}

.black{
   background: url("../img/busca.png");
}

#tablero{
    width: 416px;
    height: 416px;								
    margin-left: 35%;
    margin-top: 120px;				
}

#numberBombs, #restBomb{
    width: 50px;
}

.white{
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
}

td{
    width: 50px;
    height: 50px;
    border: 2px solid white;
} 
.image{
    background: white;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.numeros{
    color: #DD186A;
    font-size: 18px;
}

.back{
    background: #FFDD7E;
    color: #FFDD7E;
}