.black{
   background: url("../img/busca.png");
}

.white{
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
}

td{
    width: 50px;
    height: 50px;
} 
.image{
        background: white;
        display: flex;
        align-self: center;
        justify-content: center;
        width: 50px;
        height: 50px;
}

.numeros{
    color: #42A568;
    font-size: 18px;
}

.back{
    background: #6D2D2D;
}